body{
    background-color: lightgray;
}

.frame{
    background-color: rgba(255,255,255,0.5);
    width: 700px;
    height:400px;
    margin-top: 130px;
    margin-left: 350px;
    border-radius: 30px;
    padding-top: 30px;

}

.frame input{
    width: 400px;
}